.container {
  max-width: 100rem;
  margin: 1.6rem auto;
  border: 1px solid aqua;
  padding: 1.6rem;
}

.form__general--info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.input__container {
  display: flex;
  flex-direction: column;
}

.submit__button {
  margin: 1.6rem;
  display: flex;
  justify-content: center;
}

.submit__button button {
  padding: 0.8rem 2.4rem;
  font-weight: 600;
}
